# db 
src/data/
src/data/pin-data-db.json
**/pin-data-db.json
src/node_modules/
src/bundle.js

# DNP data
build_*/
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional eslint cache
.eslintcache



# DBs
src/*db.json
src/server/*db.json

# Build
src/ui/build
src/server/build
src/server/dist
src/server/stats.json